# SIM Metadata Parsing

In [1]:
import numpy as np
import pandas as pd

/Users/xinyuechen/.pyenv/versions/3.7.5/lib/python3.7/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## Load Master Document
* url_main = "https://docs.google.com/spreadsheets/d/1m_QqU3iQqLD7W8VDzxER8WAEqKY86fJWyOMQ8akc7jM/edit#gid=41925053"

In [2]:
sheet_main_id = "1m_QqU3iQqLD7W8VDzxER8WAEqKY86fJWyOMQ8akc7jM"
sheet_main_name = "ALL"
url_main = f"https://docs.google.com/spreadsheets/d/{sheet_main_id}/gviz/tq?tqx=out:csv&sheet={sheet_main_name}"

In [3]:
sim_all = pd.read_csv(url_main)
sim_all.head()

,SIM PubID,Title,35mm,Years From,Years To,105mm,Years From.1,Years To.1,16mm,Years From.2,...,Pub Language,Subjects,PubCollectionID,PubIssueID,Notes,PubCollection Length,Active,Fulltext in DB,Permissioned,oclc
0,1,American Journal of Pharmacy and the Sciences ...,X,1952.0,1995.0,NaN,NaN,NaN,X,1960.0,...,English,Health & Medical Sciences,pub_american-journal-of-pharmacy-and-the-sciences,sim_american-journal-of-pharmacy-and-the-sciences,NaN,49.0,False,NaN,NaN,206933216;500028152;817882935;875845133;107037...
1,2,National Real Estate and Building Journal,X,1949.0,1956.0,NaN,NaN,NaN,NaN,1962.0,...,English,Building & Construction,pub_national-real-estate-and-building-journal,sim_national-real-estate-and-building-journal,NaN,45.0,True,1989.0,NaN,NaN
2,3,The American Naturalist,X,1872.0,2015.0,NaN,NaN,NaN,X,1970.0,...,English,Biology,pub_american-naturalist,sim_american-naturalist,NaN,23.0,True,1867.0,NaN,18300891;191716864;817602316;898814689;9097196...
3,4,Alcatel Telecommunications Review,X,1922.0,2002.0,NaN,NaN,NaN,X,1970.0,...,English,Communication & Information Sciences,pub_alcatel-telecommunications-review,sim_alcatel-telecommunications-review,NaN,37.0,True,NaN,NaN,192886804;194581676;210222394;210222469;312289...
4,5,The American Journal of Gastroenterology,X,1949.0,2011.0,NaN,NaN,NaN,X,1966.0,...,English,Medical Sciences--Gastroenterology,pub_american-journal-of-gastroenterology,sim_american-journal-of-gastroenterology,NaN,40.0,True,1900.0,NaN,121060592;813634707;909921900;936514672;989314...

In [4]:
sim_all.shape

(15149, 35)

In [5]:
sim_all.columns

Index(['SIM PubID', 'Title', '35mm', 'Years From', 'Years To', '105mm',
       'Years From.1', 'Years To.1', '16mm', 'Years From.2', 'Years To.2',
       'Digital Rights or Public Domain', 'Publisher', 'Country', 'ISSN',
       'Impact Rank', 'Total Cities', 'Journal Impact Factor',
       'Eigenfact or Score', 'First Volume', 'Last Volume', 'NA Gaps',
       'Scholarly / Peer-\nReviewed', 'Peer-\nReviewed', 'Pub Type',
       'Pub Language', 'Subjects', 'PubCollectionID', 'PubIssueID', 'Notes',
       'PubCollection Length', 'Active', 'Fulltext in DB', 'Permissioned',
       'oclc'],
      dtype='object')

In [6]:
sim_all['Pub Language'].value_counts()

English                                  14748
German                                     107
French                                      68
Chinese                                     56
Spanish                                     43
Italian                                     36
English|French                              19
English|French|German                       10
English|German                               9
Dutch                                        6
Japanese|English                             5
Russian                                      4
English|Spanish; Castilian                   4
Portuguese                                   4
English|Arabic                               3
Arabic                                       3
English|Portuguese|Spanish; Castilian        2
German|English                               2
Polish                                       2
Japanese                                     2
Welsh                                        1
Finish                                       1
Dutch; Flemish|English|French|German         1
Afrikaans|English                            1
Latin                                        1
French|English                               1
English|Hebrew                               1
Greek                                        1
Slovenian                                    1
Yugoslav                                     1
Croatian|English|French|German               1
English|Russian                              1
English|Japanese|German                      1
Dutch; Flemish                               1
Spanish; Castilian                           1
Norwegian                                    1
Name: Pub Language, dtype: int64

## Load additional Metadata
* url at https://docs.google.com/spreadsheets/d/1mCoDje_mOnQGWhVBEx9YKd_RdJuQAtRY59T0Co-MiK0/edit#gid=0

In [7]:
sheet_ulrich_id = "1mCoDje_mOnQGWhVBEx9YKd_RdJuQAtRY59T0Co-MiK0"
sheet_ulrich_name = "Publications"
url_ulrich = f"https://docs.google.com/spreadsheets/d/{sheet_ulrich_id}/gviz/tq?tqx=out:csv&sheet={sheet_ulrich_name}"

In [8]:
# sim_ulrich = pd.read_csv(url_ulrich)
# sim_ulrich.head()

In [9]:
# sim_ulrich.shape

In [10]:
# sim_ulrich.columns

## Get Most Relevant Info DataFrame

In [34]:
sim_info = sim_all[["Title", "First Volume", "Last Volume", "PubIssueID", "NA Gaps"]]
sim_info.head()

,Title,First Volume,Last Volume,PubIssueID,NA Gaps
0,American Journal of Pharmacy and the Sciences ...,1952.0,1995.0,sim_american-journal-of-pharmacy-and-the-sciences,NaN
1,National Real Estate and Building Journal,1949.0,1956.0,sim_national-real-estate-and-building-journal,NaN
2,The American Naturalist,1872.0,2015.0,sim_american-naturalist,NaN
3,Alcatel Telecommunications Review,1922.0,2002.0,sim_alcatel-telecommunications-review,NaN
4,The American Journal of Gastroenterology,1949.0,2011.0,sim_american-journal-of-gastroenterology,1982; 1983; 1984; 1985; 1986; 1987; 1988; 1989...

#### Data Cleaning for SIM

In [35]:
# For example, there are overlapping ids
sim_info[sim_info["PubIssueID"] == "sim_science"]

        Title  First Volume  Last Volume   PubIssueID NA Gaps
1011  Science        1883.0       2016.0  sim_science     NaN
9878  Science        1979.0       1986.0  sim_science     NaN

In [36]:
# Concretely show these overlaps
print("SIM Id/title count: " + str(sim_info["PubIssueID"].shape[0]))
print("Unique SIM Id count: " + str(len(sim_info["PubIssueID"].unique())))
print("Unique title count: " + str(len(sim_info["Title"].unique())))

SIM Id/title count: 15149
Unique SIM Id count: 14943
Unique title count: 14827

In [37]:
# Only keep necessary columns
sim_info_concise = sim_info
sim_info_concise.head()

,Title,First Volume,Last Volume,PubIssueID,NA Gaps
0,American Journal of Pharmacy and the Sciences ...,1952.0,1995.0,sim_american-journal-of-pharmacy-and-the-sciences,NaN
1,National Real Estate and Building Journal,1949.0,1956.0,sim_national-real-estate-and-building-journal,NaN
2,The American Naturalist,1872.0,2015.0,sim_american-naturalist,NaN
3,Alcatel Telecommunications Review,1922.0,2002.0,sim_alcatel-telecommunications-review,NaN
4,The American Journal of Gastroenterology,1949.0,2011.0,sim_american-journal-of-gastroenterology,1982; 1983; 1984; 1985; 1986; 1987; 1988; 1989...

In [38]:
sim_info_concise['NA Gaps'] = sim_info_concise['NA Gaps'].fillna("")

/Users/xinyuechen/.pyenv/versions/3.7.5/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
def find_mode(x):
    return x.value_counts().index[0]

In [40]:
# Aggregate Pub issue IDs such that the maximum range is included
sim_info_concise = sim_info_concise.groupby(["PubIssueID"]).agg({'Title': find_mode, 'NA Gaps': find_mode, 
                                                                 'First Volume': 'min', 'Last Volume': 'max'})
sim_info_concise.head()

,Title,NA Gaps,First Volume,Last Volume
PubIssueID,,,,
sim-anatomia-clinica,Anatomia Clinica,,1978.0,1981.0
sim_-,The - -,,1826.0,1826.0
sim_1001-home-ideas,1001 Home Ideas,,1986.0,1991.0
sim_102-monitor,102 Monitor,,1975.0,1981.0
sim_20th-century-british-history,20th Century British History,,1990.0,1994.0

In [44]:
sim_info_concise = sim_info_concise.reset_index()
sim_info_concise.head()

,PubIssueID,Title,NA Gaps,First Volume,Last Volume
0,sim-anatomia-clinica,Anatomia Clinica,,1978.0,1981.0
1,sim_-,The - -,,1826.0,1826.0
2,sim_1001-home-ideas,1001 Home Ideas,,1986.0,1991.0
3,sim_102-monitor,102 Monitor,,1975.0,1981.0
4,sim_20th-century-british-history,20th Century British History,,1990.0,1994.0

In [45]:
sim_info_concise.to_csv("SIM_info.csv", index=False)